---
// Headshot Carousel Component - Fades between all available headshots every 3 seconds
interface Props {
  altText?: string;
}

const { altText = "Deanna Stennett - Licensed Acupuncturist" } = Astro.props;

// List of all headshot filenames (10 total)
const headshots = [
  '/headshots/AA-headshot-1.jpeg',
  '/headshots/AA-headshot-2.jpeg',
  '/headshots/AA-headshot-3.jpeg',
  '/headshots/AA-headshot-4.jpeg',
  '/headshots/AA-headshot-5.jpeg',
  '/headshots/AA-headshot-6.jpeg',
  '/headshots/AA-headshot-7.jpeg',
  '/headshots/AA-headshot-8.jpeg',
  '/headshots/AA-headshot-9.jpeg',
  '/headshots/AA-headshot-10.jpg'
];

const currentHeadshot = headshots[Math.floor(Math.random() * headshots.length)];
---

<div class="headshot-carousel" style="position: relative; width: 100%; height: auto;">
  {headshots.map((src, index) => (
    <img 
      src={src} 
      alt={`${altText} - Photo ${index + 1}`}
      class="headshot-image"
      data-index={index}
      style="position: absolute; top: 0; left: 0; width: 100%; height: auto; opacity: 0; transition: opacity 1s ease-in-out;"
    />
  ))}
</div>

<script>
  const carousel = document.querySelector('.headshot-carousel');
  if (carousel) {
    const images = Array.from(carousel.querySelectorAll('.headshot-image'));
    let currentIndex = 0;
    
    function showImage(index) {
      images.forEach((img, i) => {
        img.style.opacity = i === index ? '1' : '0';
      });
    }
    
    // Show first image immediately
    showImage(0);
    
    // Cycle through images every 3 seconds
    setInterval(() => {
      currentIndex = (currentIndex + 1) % images.length;
      showImage(currentIndex);
    }, 3000);
  }
</script>

<style is:global>
.headshot-carousel .headshot-image.active {
  opacity: 1 !important;
}
</style>
